<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="bayres" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="bayres" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="bayres" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="bayres" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Bayres No Problem</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css"-->
  <!--link rel="stylesheet" href="app.css"-->
  <link rel="stylesheet" href="css/main.css">
  <!--script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script-->
</head>
<body ng-controller="BayresController as bayresCtrl">

<!-- SECCION VIEW-->
<div style="visibility: collapse; display: none" id="vista" ng-if="false" ng-view></div>

<div ng-if="bayresCtrl.agreement" ng-include="bayresCtrl.selectedAgreement"></div>

<div ng-class="{'bayres-display':bayresCtrl.showPage}" style="display: none">
  <!--div ng-if="!bayresCtrl.agreement"-->
  <div class="login">
    <div>Bienvenido!</div>
    <div ng-if="!bayresCtrl.isLogged" class="login-separator"><a href="" ng-click="bayresCtrl.createUsuario();bayresCtrl.goToAnchor('section-2', 'section-2');" class="login-text">Nuevo usuario</a></div>
    <div ng-if="!bayresCtrl.isLogged">o</div>
    <div ng-if="!bayresCtrl.isLogged" class="login-separator"><a href="" ng-click="bayresCtrl.login();bayresCtrl.goToAnchor('section-2', 'section-2');" class="login-text">Ya estoy registrado</a></div>
    <div ng-if="bayresCtrl.isLogged" class="login-separator">{{bayresCtrl.usuario.nombre + ' ' + bayresCtrl.usuario.apellido}}</div>
    <div ng-if="bayresCtrl.isLogged"><a href="" ng-click="bayresCtrl.logout();bayresCtrl.isLogged = false;" class="login-text">Salir</a></div>
    <div class="mi-carrito">Mi Carrito: ${{bayresCtrl.carritoInfo.totalAPagar}} ({{bayresCtrl.carritoInfo.cantidadDeProductos}})</div>
    <img class="mi-carrito-img" src="images/cart.png" alt="Mi Carrito" title="Mi Carrito">
  </div>

  <div class="header">
    <div class="menu-mobile menu-type-mobile">
      <div class="nav-button"
           ng-click="bayresCtrl.menu_mobile_open = !bayresCtrl.menu_mobile_open;"
           ng-class="{'nav-button-transformed':bayresCtrl.menu_mobile_open}">
        <div ng-class="{'nav-button-top-transformed':bayresCtrl.menu_mobile_open}"></div>
        <div ng-class="{'nav-button-mid-transformed':bayresCtrl.menu_mobile_open}"></div>
        <div ng-class="{'nav-button-bot-transformed':bayresCtrl.menu_mobile_open}"></div>
      </div>
      <div class="header-separator"></div>
      <div class="bienvenidos">
        <div class="mi-carrito-mobile">Mi Carrito: ${{bayresCtrl.carritoInfo.totalAPagar}} ({{bayresCtrl.carritoInfo.cantidadDeProductos}})</div>
        <img class="mi-carrito-mobile-img" src="images/cart.png" alt="Mi Carrito" title="Mi Carrito">
      </div>
    </div>
    <div class="menu-desktop menu-type-desktop">
      <div id="menu-desktop-logo" ng-click="bayresCtrl.goTo({nombre: 'INICIO', path: '/'});">
        <img src="images/logo_top.png" alt="logo" height="60px" width="200px">
      </div>
      <div id="menu-desktop-right">
        <div id="menu-desktop-upper"></div>
        <div id="menu-desktop-lower">
          <div id="menu-desktop-lower-inner">
            <div class="menu-desktop-btn ac-ripple"
                 ng-class="{'menu-desktop-btn-selected':bayresCtrl.selectedPage.indexOf(link.nombre) > -1 }"
                 ripple-color="#ffffff"
                 ng-mouseover="(link.nombre == 'Categorias') ? bayresCtrl.showCategorias = true : bayresCtrl.showCategorias = false;"
                 ng-repeat="link in bayresCtrl.links"
                 ng-click="bayresCtrl.goTo(link);(link.nombre !== 'Categorias' ? ((link.nombre == 'INICIO') ? bayresCtrl.goToAnchor('section-1', 'section-1') : bayresCtrl.goToAnchor('section-2', 'section-2')):'');"> {{link.nombre}}
              <div ng-if="link.tieneImagen">
                <img src="images/{{link.nombreImagen}}" alt="{{link.nombre}}" title="{{link.nombre}}" height="20"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-mobile-panel" ng-class="{'menu-mobile-panel-show':bayresCtrl.menu_mobile_open}">
    <div class="menu-desktop-btn ac-ripple"
         ng-class="{'menu-desktop-btn-selected':bayresCtrl.selectedPage.indexOf(link.nombre) > -1 }"
         ripple-color="#ffffff"
         ng-repeat="link in bayresCtrl.links"
         ng-if="link.nombre != 'Categorias'"
         ng-click="bayresCtrl.goTo(link); bayresCtrl.menu_mobile_open=false;bayresCtrl.goToAnchor('section-2', 'section-2');"> {{link.nombre}}
    </div>
    <!--div ng-if="bayresCtrl.showCategorias" id="menu-categorias-mobile"-->
    <div id="menu-categorias-mobile">
      <div class="categoria-mobile-separator">CATEGORIAS</div>
      <div class="menu-categorias-mobile-scroll">
        <div ng-repeat="categoria in bayresCtrl.categorias" >
          <div class="categoria-separator">
            <div class="" ng-click="bayresCtrl.getByCategoria(categoria.categoria_id);bayresCtrl.goToAnchor('section-2', 'section-2');">{{categoria.nombre}} (<span style="color: #ffff00;">{{categoria.total}}</span>)</div>
            <div class="subcategoria-separator" ng-repeat="subcategoria in categoria.subcategorias" ng-click="bayresCtrl.getByCategoria(subcategoria.categoria_id);bayresCtrl.goToAnchor('section-2', 'section-2');">
              <spam class="">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total}}</span>)</spam>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="bayresCtrl.showCategorias" id="menu-categorias-detalle" ng-mouseleave="bayresCtrl.showCategorias = false;">
    <!--<div class="menu-principal">-->
    <!--<div ng-click="bayresCtrl.inicio();bayresCtrl.goToAnchor('section-2', 'section-2');" class="menu-pricipal-item">Inicio</div>-->
    <!--<div ng-click="bayresCtrl.comprar();bayresCtrl.goToAnchor('section-2', 'section-2');" class="menu-pricipal-item">Mi Carrito</div>-->
    <!--<div ng-click="bayresCtrl.cuenta();bayresCtrl.goToAnchor('section-2', 'section-2');" class="menu-pricipal-item">Mi Cuenta</div>-->
    <!--<div ng-click="bayresCtrl.comprar();bayresCtrl.goToAnchor('section-2', 'section-2');" class="menu-pricipal-item">Finalizar Compra</div>-->
    <!--</div>-->
    <div ng-repeat="categoria in bayresCtrl.categorias">
      <div class="menu-subcategoria">
        <div class="menu-categoria-titulo" ng-click="bayresCtrl.getByCategoria(categoria.categoria_id);bayresCtrl.goToAnchor('section-2', 'section-2');">{{categoria.nombre}} (<span style="color: #ffff00;">{{categoria.total}}</span>)</div>
        <div class="menu-separator" ng-repeat="subcategoria in categoria.subcategorias" ng-click="bayresCtrl.getByCategoria(subcategoria.categoria_id);bayresCtrl.goToAnchor('section-2', 'section-2');">
          <spam class="menu-subcategoria-item">{{subcategoria.nombre}} (<span style="color: #ffff00;">{{subcategoria.total}}</span>)</spam>
        </div>
      </div>
    </div>
  </div>

  <!-- SECCION VIEW-->
  <!--div style="visibility: collapse; display: none" id="vista" ng-if="false" ng-view></div-->

    <div class="message-confirm">
        <div class="confirm-container no-show-message" ng-class="{'show-message animated fadeInLeft': bayresCtrl.showMessageConfirm == true}">
            {{bayresCtrl.messageConfirm}}
        </div>
    </div>

  <div id="parallax">
    <div id="section-1">
      <div id="sucursal0"></div>
      <div id="sucursal1"></div>
      <div id="sucursal2"></div>
      <div id="sucursal3"></div>
      <div id="sucursal4"></div>
    </div>
    <div id="buscar">
      <input type="text" class="form-control" placeholder="Buscar..."
             ng-model="bayresCtrl.filtro"
             ng-keyup="bayresCtrl.buscarProducto(bayresCtrl.filtro);">
      <img src="images/close.png" class="buscar-clear-image" ng-click="bayresCtrl.clearFiltro();">
    </div>
    <div id="section-2">
      <div id="tierra1"></div>
      <div id="tierra2"></div>
      <div id="tierra3"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeTop"></div>
    </div>
    <div id="section-3">
      <div id="roca1"></div>
      <div id="roca2"></div>
      <div id="roca3"></div>
      <div id="roca4"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeMiddle"></div>
    </div>
    <div id="section-4">
      <div id="lava0"></div>
      <div id="lava1"></div>
      <div id="lava2"></div>
      <div id="lava3"></div>
      <div id="lava4"></div>
      <div class="transition-pane-animation" ng-include="bayresCtrl.selectedIncludeBottom"></div>
    </div>
    <div id="section-5">
      <div class="medio-pagos">
        <span class="medio-pagos-text">MEDIOS DE PAGO:</span>
        <img src="images/medio_07.png" alt="Transferencia" title="Transferencia">
        <img src="images/medio_08.png" alt="Deposito Bancario" title="Deposito Bancario">
        <img src="images/medio_01.png" alt="Mercado Pago" title="Mercado Pago">
        <img src="images/medio_02.png" alt="Visa" title="Visa">
        <img src="images/medio_03.png" alt="MasterCard" title="MasterCard">
        <img src="images/medio_04.png" alt="American Express" title="American Express">
        <img src="images/medio_05.png" alt="Pago Facil" title="Pago Facil">
        <img src="images/medio_06.png" alt="Rapi Pago" title="Rapi Pago">
      </div>
    </div>
    <div id="section-6">
      <div class="outer-center footer-outer">
        <div class="inner-center footer-inner">
          <div class="footer-container">
            <div class="footer-upper">
              <img class="img-logo-footer" src="images/LOGOFOOTER.png" alt=""/>
            </div>
            <div class="footer-lower">
              <div class="footer-lower-colum">
                <div class="footer-lower-title">NAVEGACIÓN</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'main', path: '/main'});bayresCtrl.goToAnchor('section-1', 'section-1');">SUCURSALES</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.ofertasForm();bayresCtrl.goToAnchor('section-2', 'section-2');">OFERTAS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.destacadosForm();bayresCtrl.goToAnchor('section-3', 'section-3');">DESTACADOS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.masVendidosForm();bayresCtrl.goToAnchor('section-4', 'section-4');">+VENDIDOS</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">REGISTRO</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'login', path: '/login'});bayresCtrl.goToAnchor('section-2', 'section-2');"
                   href="">INGRESAR</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'usuario', path: '/usuarios'});bayresCtrl.goToAnchor('section-2', 'section-2');"
                   href="">REGISTRARSE</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">CARRITO</div>
                <br/>
                <!--a class="footer-lower-link">COMPRAS</a><br/-->
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'carrito', path: '/carrito'});bayresCtrl.goToAnchor('section-2', 'section-2');">CHECKOUT</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">LEGALES</div>
                <br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales2', path: '/legales/2'});bayresCtrl.goToAnchor('section-2', 'section-2');">ENVIOS/RETORNOS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales3', path: '/legales/3'});bayresCtrl.goToAnchor('section-2', 'section-2');">CONFIDENCIALIDAD</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales4', path: '/legales/4'});bayresCtrl.goToAnchor('section-2', 'section-2');">CONDICIONES DE USO</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'contacto', path: '/contacto'});bayresCtrl.goToAnchor('section-2', 'section-2');">CONTACTENOS</a><br/>
                <a class="footer-lower-link" ng-click="bayresCtrl.goTo({nombre: 'legales1', path: '/legales/1'});bayresCtrl.goToAnchor('section-2', 'section-2');">&iquest;QUIENES SOMOS?</a><br/>
              </div>
              <div class="footer-lower-colum">
                <div class="footer-lower-title">REDES SOCIALES</div>
                <br/>
                <a href="https://m.facebook.com/bayresnoproblem.grow" style="color: #000">
                  <img src="images/social_01.png" alt="facebook"/>
                </a>
                <a href="https://twitter.com/bayresnoproblem">
                  <img src="images/social_02.png" alt="twitter"/>
                </a>
              </div>
            </div>
            <div class="copyright font-color-text">
              <div >Bayres No Problem &copy; 2015 All Rights Reserved</div>
              <div >Creada por <a href="http://ac-desarrollos.com/" class="ac-desarrollo">AC-Desarrollos</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<script src="bower_components/ac-angular-utils/ac-utils.js"></script>
<script src="bower_components/ac-angular-usuarios/ac-usuarios.js"></script>
<script src="bower_components/ac-angular-productos/ac-productos.js"></script>
<script src="bower_components/ac-angular-sucursales/ac-sucursales.js"></script>
<script src="app.js"></script>
<script src="agreement/agreement.js"></script>
<script src="main/main.js"></script>
<script src="login/login.js"></script>
<script src="usuarios/usuario.js"></script>
<script src="carrito/carrito.js"></script>
<script src="micuenta/micuenta.js"></script>
<script src="contacto/contacto.js"></script>
<script src="detalle/detalle.js"></script>
<script src="legales/legales.js"></script>
<script src="mailer/bayresmailer.js"></script>

</body>
</html>
