<div ng-controller="LoginController as loginCtrl" class="primary-form">
    <div class="container-main contacto-content">
        <div class="title-font container-main-title">Ingres&aacute;</div>

        <div class="container-main-content">
            <div class="form-group">
                <label class="label-input">Mail</label>
                <input type="text" class="form-control" ng-model="loginCtrl.loginForm.mail" placeholder="Mail...">
            </div>
            <div class="form-group">
                <label class="label-input">Contrase&ntilde;a</label>
                <input type="password" class="form-control"
                       ng-model="loginCtrl.loginForm.password"
                       ng-keyup="loginCtrl.passwordEnter($event);"
                       placeholder="Contrase&ntilde;a...">
            </div>
            <div ng-if="loginCtrl.recoveryPassword">
                <a ng-click="loginCtrl.recoveryPwd();" href="" class="recovery-pwd">Recuperar Contrase&ntilde;a</a>
            </div>
            <div class="botonera">
                <button class="btn-big" ng-click="loginCtrl.login();">Aceptar</button>
                <button class="btn-big" ng-click="loginCtrl.createUsuario();">Nuevo Usuario</button>
            </div>

            <div class="form-message">
                <div class="message">{{loginCtrl.message}}</div>
            </div>
        </div>
    </div>
</div>
