/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Myriad Pro Bold";
  src: url('../fonts/MYRIADPRO-BOLD.woff?1447275142') format('woff');
}
@font-face {
  font-family: "Myriad Pro Bold Condensed";
  src: url('../fonts/MYRIADPRO-BOLDCOND.woff?1447275142') format('woff');
}
@font-face {
  font-family: "Myriad Pro Condensed";
  src: url('../fonts/MYRIADPRO-COND.woff?1447275142') format('woff');
}
@font-face {
  font-family: "Myriad Pro Regular";
  src: url('../fonts/MYRIADPRO-REGULAR.woff?1447275142') format('woff');
}
/* line 34, ../sass/parallax.scss */
#main-productos, #main-destacados, #main-mas-vendidos, #main-ofertas {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
}
@media (max-width: 800px) {
  /* line 34, ../sass/parallax.scss */
  #main-productos, #main-destacados, #main-mas-vendidos, #main-ofertas {
    max-width: 99% !important;
  }
}

/* line 49, ../sass/parallax.scss */
#parallax {
  font-family: "Myriad Pro Bold Condensed", serif;
  height: 2000px;
  background-color: #00fefe;
  background-size: cover;
  margin-top: 80px;
}

/* line 57, ../sass/parallax.scss */
#section-1, #section-2, #section-3, #section-4 {
  position: relative;
  min-height: 600px;
}

/* line 61, ../sass/parallax.scss */
#section-1 {
  background: #00fefe url("../images/sucursales_04.png") top center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 68, ../sass/parallax.scss */
#section-2 {
  background: brown url("../images/tierra_04.jpg") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 78, ../sass/parallax.scss */
#section-3 {
  background: darkgrey url("../images/piedra_04.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 86, ../sass/parallax.scss */
#section-4 {
  background: darkred url("../images/lava_06.png") top center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 94, ../sass/parallax.scss */
#section-5, #section-6 {
  position: relative;
}

/* line 97, ../sass/parallax.scss */
#section-5 {
  height: 50px;
  background-color: #FCFCFC;
  font-family: "Myriad Pro Bold Condensed", serif;
  width: 100%;
  color: #8cc63f;
  font-size: 20px;
  white-space: nowrap;
}

/* line 106, ../sass/parallax.scss */
#section-6 {
  height: 450px;
  background-color: #000;
}

/* line 111, ../sass/parallax.scss */
#sucursal1, #sucursal2, #sucursal3, #sucursal4,
#tierra1, #tierra2, #tierra3,
#roca1, #roca2, #roca3, #roca4, #lava0,
#lava1, #lava2, #lava3, #lava4 {
  width: 100%;
  height: 600px;
  position: absolute;
}

/* line 120, ../sass/parallax.scss */
#sucursal1 {
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(../images/sucursales_03.png) top center no-repeat;
}

/* line 126, ../sass/parallax.scss */
#sucursal2 {
  background: url(../images/sucursales_02.png) top center no-repeat;
}

/* line 130, ../sass/parallax.scss */
#sucursal3 {
  background: url(../images/sucursales_01.png) top center no-repeat;
}

/* line 138, ../sass/parallax.scss */
#tierra2 {
  background: url(../images/tierra_01.png) top center no-repeat;
  transform: scale(2.2, 2.2);
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* line 147, ../sass/parallax.scss */
#tierra1 {
  background: url(../images/tierra_02.png) top center no-repeat;
}

/* line 151, ../sass/parallax.scss */
#tierra3 {
  background: url(../images/tierra_03.png) top center no-repeat;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* line 159, ../sass/parallax.scss */
#roca2 {
  background: url(../images/piedra_01.png) top center no-repeat;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  opacity: .8;
}

/* line 167, ../sass/parallax.scss */
#roca1 {
  background: url(../images/piedra_02.png) top center no-repeat;
}

/* line 170, ../sass/parallax.scss */
#roca3 {
  background: url(../images/roca_03.png) top center no-repeat;
}

/* line 175, ../sass/parallax.scss */
#roca4 {
  background: url(../images/roca_04.png) top center no-repeat;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* line 182, ../sass/parallax.scss */
#lava0 {
  background: url("../images/lava_05.png") top center no-repeat;
  transform: translateY(300px);
  -webkit-filter: blur(3px);
  filter: blur(4px);
}

/* line 191, ../sass/parallax.scss */
#lava1 {
  background: url("../images/lava_04.png") top center no-repeat;
  transform: translateY(350px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

/* line 199, ../sass/parallax.scss */
#lava2 {
  background: url("../images/lava_03.png") top center no-repeat;
  transform: translateY(400px);
}

/* line 207, ../sass/parallax.scss */
#lava4 {
  background: url("../images/lava_01.png") top center no-repeat;
}

/* line 213, ../sass/parallax.scss */
#lava3 {
  background: url("../images/lava_02.png") top center no-repeat;
  transform: translateY(100px);
}
