<div ng-controller="CarritoController as carritoCtrl" class="primary-form">
    <div class="container-main">
        <div class="title-font container-main-title">Carrito</div>

        <div class="container-main-content carrito-imagen">
            <div class="container-carrito-1">
                <div class="carrito-table-head" ng-if="carritoCtrl.carritoDetalles.length > 0">
                    <div class="carrito-table-row-name">Producto</div>
                    <div class="carrito-table-row">Precio U.</div>
                    <div class="carrito-table-row">Cant.</div>
                    <div class="carrito-table-row table-row-image"><img src="images/lupa.png" class="div-image-small" hidden/></div>
                    <div class="carrito-table-row table-row-image"><img src="images/cruz.png" class="div-image-small" hidden/></div>
                </div>
                <div class="micarrito-container">
                    <div ng-repeat="producto in carritoCtrl.carritoDetalles" class="carrito-table-body">
                        <div class="carrito-table-row-name font-color-text">{{producto.nombre}}</div>
                        <div class="carrito-table-row div-input">{{producto.precio_unitario}}</div>
                        <input class="carrito-table-row div-input" ng-change="(producto.cantidad < 0) ? producto.cantidad = 0 : producto.cantidad; carritoCtrl.refreshProducto(producto);"
                               type="number" ng-model="producto.cantidad" style=""/>
                        <div class="carrito-table-row table-row-image">
                            <a href="" ng-click="carritoCtrl.showSubTotal(producto);carritoCtrl.showDetalle(producto.producto_id);bayresCtrl.goToAnchor('section-2', 'section-2');">
                                <img src="images/lupa.png" class="div-image-small" title="SubTotal: ${{producto.precio_unitario * producto.cantidad}}" />
                            </a>
                        </div>
                        <div class="carrito-table-row table-row-image">
                            <a href="" title="{{producto.nombre}}" ng-click="carritoCtrl.showMensaje=true;carritoCtrl.getDetalle($index);">
                                <img src="images/cruz.png" class="div-image-small" title="Quitar Producto del Carrito" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="eliminar-producto" ng-if="carritoCtrl.showMensaje">
                <div class="font-color-text">
                    &iquest;Desea borrar el producto {{carritoCtrl.detalle}}?
                </div>
                <div class="botonera">
                    <button class="btn-small" ng-click="carritoCtrl.removeProducto(carritoCtrl.index);">Aceptar</button>
                    <button class="btn-small" ng-click="carritoCtrl.cancelar();">Cancelar</button>
                </div>
            </div>
            <div class="container-carrito-2">
                <div class="carrito-totales">
                    <spa>Total: </spa><span>${{carritoCtrl.carritoInfo.totalAPagar}} </span><span>({{carritoCtrl.carritoInfo.cantidadDeProductos}})</span>
                </div>
                <div class="carrito-entrega">
                    <select ng-model="carritoCtrl.tipoEnvioDefecto"
                            ng-options="tipoEnvioDefecto.name for tipoEnvioDefecto in carritoCtrl.tipoEnvios"
                            class="form-control control-select">
                    </select>
                    <select style="display: none;"
                            ng-class="{'select-envios' : carritoCtrl.tipoEnvioDefecto.id == 1}"
                            ng-model="carritoCtrl.lugarDeEnvioDefecto"
                            ng-options="lugarDeEnvioDefecto.name for lugarDeEnvioDefecto in carritoCtrl.lugarDeEnvios"
                            class="form-control control-select">
                    </select>
                    <select style="display: none;"
                            ng-class="{'select-sucursales' : carritoCtrl.tipoEnvioDefecto.id == 2}"
                            ng-model="carritoCtrl.sucursal"
                            ng-options="sucursal.nombre for sucursal in carritoCtrl.sucursales"
                            class="form-control control-select">
                    </select>
                </div>
                <div class="info-envios">
                    Los envíos se realizan por medio de cadeteria, correo, empresa de transportes, según destino. El costo del mismo es a cargo del comprador, previo coordinación con el vendedor.

                </div>
                <div class="botonera">
                    <button class="btn-big" ng-click="carritoCtrl.confirmCarrito();">Pedido!</button>
                </div>

                <div class="form-message">
                    <div class="message">{{carritoCtrl.message}}</div>
                </div>
            </div>
        </div>
    </div>
</div>